body {
    font-family: 'Montserrat', sans-serif; 
}
.body {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 28px black;
    border-radius: 8px;
    width: 768px;
    height: 480px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin: 150px auto;
}
.body .left {
    flex: 1;
    text-align: center;
    margin-top: 30px;
}
.body .left h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.body .left > a {
    width: 40px;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
}
.body .left p {
    font-size: 13px;
    margin-top: 20px;
}
.body .left form {
    margin-left: 25px;
}
.body .left form input {
    background-color: #eeeeee;
    border: none;
    margin: 10px;
    height: 40px;
    width: 80%;
    padding-left: 20px;
}
.body .left form a {
    text-decoration: none;
    text-transform: capitalize;
    color: #757475;
}
.body .left form button {
    margin: 15px;
    background-color: #ff4b2b;
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    text-transform: uppercase;
}
.body .right {
    flex: 1;
    background-color: #ff4167;
    text-align: center;
    height: 100%;
    padding-top: 16%;
}
.body .right h3 {
    text-transform: capitalize;
    font-size: 30px;
    color: #fff;
}
.body .right p {
    padding: 0 20px;
    color: #fff;
}
.body .right button {
    margin: 15px;
    background-color: transparent;
    color: white;
    border: 1px solid #ffd9e0;
    padding: 10px 40px;
    border-radius: 20px;
}
.body .right button a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: 1s;
}